body
	background-color: #ffffff
	font-family: 'Roboto', sans-serif


.container
    max-width: 1152px
    margin-left: auto
    margin-right: auto

// @media (max-width: 1199px)
//     .container
//         max-width: 960px

// @media (max-width: 991px)
//     .container
//         max-width: 720px

// @media (max-width: 767px)
//     .container
//         max-width: 90%
//     .hidden-mobile
//         display: none

// @media (max-width: 576px)
//     .container
//         max-width: 90%



@import 'variables'
@import 'interface'
@import 'header'
@import 'advantages'
@import 'request'
@import 'footer'
@import 'catalog'
@import 'privacy'